@import "tailwindcss";

@theme {
  --font-vazirmatn: var(--font-vazirmatn);
  --font-VazirFd: var(--font-vazirfd);
  --font-YekanBakh: var(--font-yekanbakh);
  --font-IranianSans: var(--font-iraniansans);
  --breakpoint-xs: 27rem;
}

body {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: var(--font-vazirmatn), sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  box-sizing: border-box;
}

*,
*::after,
* ::before {
  box-sizing: inherit;
}

input,
button {
  font-family: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}
